/* removing default margins and paddings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling for the body */
body{
    font-family: 'Montsterrat', sans-serif;
    background: linear-gradient(135deg, #00796b, #b2dfdb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background 0.5s ease;
    animation: backgroundAnimation 15s ease infinite;
}
/* app wrapper or centers the content */
.app-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* styling the header where the search input resides */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* rounded corner for search box */
header input {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 2px solid #4caf50;/* Green border*/
    color: #333;
    background-color: rgba(255,255,255, 0.9);
    font-size: 20px;
    transition:  0.2s ease-out;

}
/* glowing effect when the input box is focused */
header input:focus{
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5); /*green glow*/
}

/* main section styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
/* card styling */
.card{
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
    margin: 20px 0;
    box-shadow:  0 8px 20px rgba(0,0,0,0.2);
    width: 300px;
    transition: transform 0.3s ease;
}
/* Hover effect ot lift the card slightly */
.card:hover{
    transform: translateY(-5px);
}
/* location and weather details styling */
.location{
    margin-bottom: 20px;
}
.city{
    color: #388e3c;
    font-size: 36px;
    font-weight: 700;
}
.date{
    color: #555;
    font-size: 18px;

}
.temp{
    color: #e74c3c;
    font-size: 80px;
    font-weight: 900;

}
.hi-low{
    color: #555;
    font-size: 24px;

}
/* for smaller screens Media query */
@media (max-width:500px){
    .card{
        width: 90%;
    }
}
/* keyframe animation for the background */
@keyframes backgroundAnimation{
    0%{ background-position: 0% 0%;}
    100%{background-position: 100% 100%;}
}